.modal-header{
    background-color: bisque;
}

.title{
    display: flex;
    justify-content: center;
}

.makecenter{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.modalm{
    margin-left: 185px;
}





// .section{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// .button2 {width: 20%;}
// .marginall{
//     margin: 35px;
//     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
//     .card{
//         border-radius: 15px ;
//     }
   
// }

// .boxround{
//     border-radius: 30px ;
// }