<div class="bd-highlight mb-3">

    <div class="form-group row-sm-10 " >
    <form class="form-group" #billForm="ngForm" (ngSubmit)="addBill()">

    
        <label class="form-label">  <strong>Apply Date</strong></label>
        <div class="row-sm-10">
            <input style="width: 465px;"type="date" name="applyDate" [(ngModel)]="bill.applyDate" class="form-control"
            min="2021-10-03" required>
        </div>
        <label class="row-sm-2 row-form-label mt-1"><strong>Amount</strong></label>
        <div class="row-sm-10">
            <input type="number" class="form-control"  #amount="ngModel" name="amount" [(ngModel)]="bill.amount"
            placeholder="Enter amount" min="0" max="300000"  required>
        </div>
        <p class="text-danger" *ngIf = "amount.touched&&!amount.valid">Amount should be 0-3 Lakhs</p>

    
        <label class=" row-sm-2 row-form-label mt-1"><strong>Type</strong></label>
        <div class="row-sm-10">
           <select class="form-control" name = "type" [(ngModel)]="bill.type" required >
               <option *ngFor="let item of BillType">
                   {{item}}
               </option>
           </select>
        </div>
        <label class=" row-sm-2 row-form-label mt-1"><strong>Payment Mode</strong></label>
        <div class="row-sm-10">
           <select class="form-control" name = "paymentTtype" [(ngModel)]="bill.paymentMode"required >
               <option *ngFor="let item of PaymentType">
                   {{item}}
               </option>
           </select>
        </div>
        <label class=" row-sm-2 row-form-label mt-1"><strong>Remarks?</strong></label>
        <div class="form-horizontal">
            <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Remarks?"  name = "remarks"
                     [(ngModel)]="bill.remarks"required ></textarea>
            </div>
        </div>
        <div class="makecenter">
            <div class="row-sm-10">
                <button type="submit" (click) = "addBill()" id="SubmitForm" [disabled] = "!billForm.valid" data-dismiss="modal" *ngIf="bill?.id==0" class="btn btn-dark text-center">
                    Add Bill Reimbursement
                </button>
            </div>
            
            
            <button (click)="updateBill()" [disabled] = "!billForm.valid" id="SubmitForm" data-dismiss="modal" *ngIf="bill.id!=0" class="btn btn-dark">
                Update Bill Reimbursement
            </button>  
        </div>
        

    </form>
       
    
    </div>
    </div>
    
    
    
    
   